*{
    font-family: Arial, Helvetica, sans-serif;
}

.epaberto{
 display: grid;
 grid-template-columns: 1fr;
 justify-items:center ;
}

.button {
    text-align: center;
    margin: 10px;
    text-decoration: none;
    margin-top: 20px;
    border: 3px solid black;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.link{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 15px;
    display: inline-block;
    font-weight: 600;
}

.bo{
    border-left: 3px solid black;
}

.tittle{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

video {
    border-radius: 5px;
}

.icon {
    width: 30px;
    display: block;
    padding-left: 270px;
}

a:hover{
    background-color: rgb(235, 234, 234);
}